* {
    margin: 0;
    padding: 0;
  }
.line-li
{
    display: flex; 
    justify-content: end;
    width: 90%;
    
}
.container
{
     background-image: url(img/bg.jpeg) ;
     width: 100%;
     background-size: 100% 100%;
     display: inline-block;
     height: 900px;
    
}

.line
{
    padding: 20px;
 
    color: white;
    list-style: none;   
}
.icon{
    color: white;
    text-decoration: none;
}
.line:hover
{
    border-bottom: 2px solid yellow;
  
}